* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #1a2e1f;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

body {
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  background: #1a2e1f;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: #1a2e1f;
}
